@tailwind base;
@tailwind components;
@tailwind utilities;
.CodeMirror {
  border: 0.5px solid white;
  border-radius: 5px;
  width: 95%;
  min-height: 95%;
  font-size: 15px;
  line-height: 1.6;
}
#bg {
  background-color: #090300;
}
#bgg {
  background-color: #282a36;
  opacity: 0.5;
}
#result {
  padding-top: 20px;
  padding-left: 20px;
  color: white;
}
#btn {
  transition: 0.2s ease-in-out;
}
#btn:hover {
  scale: 1.05;
}
